.content_window {
    position: relative;
    background-color: var(--clr-neutral-100);
    border: 3px solid var(--clr-neutral-900);
    border-radius: 8px;
    padding: 2.25rem 1.5rem 0.5rem 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 22rem;
    height: min-content;
    box-shadow: var(--drop-shadow);
}
.content_window svg {
    width: 1.75rem;
    aspect-ratio: 1;
}
.content_window h2 {
    margin: 0;
    font-size: 1.25rem;
}
.content_window p {
    font-size: 1rem;
    line-height: 1.2;
}
.content_window div {
    display: flex; 
    gap: 0.25rem;
}
.content_window a:after {
    content: "";
    position: absolute;
    top: 1.5rem;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
}
.content_window:before {
    content: "";
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    width: 2rem;
    height: 0.5rem;
    z-index: 2;
    background-repeat: no-repeat;
    background-image: url(/dots.svg);
}
.content_window:after {
    position: absolute;
    content: "";
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    height: 1.25rem;
    z-index: 1;
    border-bottom: 2px solid var(--clr-neutral-900);
}
.content_window:is(:hover,:focus-visible) {
    box-shadow: none;
    transform: translate(4px, 4px);
    transition: all ease-in 0.05s;
}
.content_window:first-child {background: linear-gradient(180deg, var(--clr-accent-100) 1.25rem, var(--clr-neutral-100) 1.25rem);}
.content_window:nth-child(2n) {background: linear-gradient(180deg, var(--clr-accent-200) 1.25rem, var(--clr-neutral-100) 1.25rem);}
.content_window:nth-child(3n) {background: linear-gradient(180deg, var(--clr-accent-300) 1.25rem, var(--clr-neutral-100) 1.25rem);}

.topics {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}
.topic {
    font-size: var(--fs-200);
    font-weight: var(--fw-bold);
    font-family: var(--ff-body);
    text-transform: uppercase;
    background-color: var(--clr-accent-200);
    color: var(--clr-neutral-900);
    padding: 0.25rem;
    letter-spacing: 0.03em;
}